<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar><img src="../assets/images/Infrrd-Logo-Transparent.png" alt="Infrrd-Logo" width="150px"/></mat-toolbar>
    <mat-nav-list >
      <a mat-list-item href="#"><i class="fa fa-server"></i>&nbsp;Overview</a>
      <a mat-list-item href="#"><i class="fa fa-envelope"></i>&nbsp;Messages &nbsp;<span style="background-color: #e06751;color: white;padding: 2px;">99+</span></a>
      <a mat-list-item href="#" (click)="toggleSearch()"><i class="fa fa-search" ></i>&nbsp;Search </a>
      <a mat-list-item href="#"><i class="fa fa-filter"></i>&nbsp;Filter</a>
      <a mat-list-item href="#"><i class="fa fa-history"></i>&nbsp;History</a>
      <a mat-list-item href="#"><i class="fa fa-user"></i>&nbsp;Account</a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <a mat-list-item href="#"><i class="fa fa-comments"></i>&nbsp;Get Help</a>
    <a mat-list-item href="#"><i class="fa fa-sign-out"></i>&nbsp;Sign Out</a>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar  class="header-toolbar">
      <span class="spacer"></span>
      <button mat-icon-button class="notification-button">
        <i class="fa fa-bell"></i>
        <span class="notification-count">22</span>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item> Product Team</button>
        <button mat-menu-item>IDC</button>
        <button mat-menu-item> OCBC</button>
        <button mat-menu-item>Radian</button>
        <button mat-menu-item>Rustify</button>


      </mat-menu>
    
      <button mat-button class="team-button" [matMenuTriggerFor]="appMenu">
        <i class="fa fa-users"></i> Choose Team
      </button>
    </mat-toolbar>

    <div class="content" [ngStyle]="{'padding': isSearchVisible ? '0px 20px 20px 0px' : '20px'}">
      <app-employee-card [isSearchVisible]="isSearchVisible"></app-employee-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
