
      <div class="content">
        <form class="search-form">
          <mat-form-field>
            <mat-label>Department</mat-label>
            <mat-select>
              <mat-option value="front-end">Front End Development</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Role Type</mat-label>
            <mat-select>
              <mat-option value="full-time">Full Time</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Designation</mat-label>
            <mat-select>
              <mat-option value="senior-ui-developer">Senior UI Developer</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Experience</mat-label>
            <mat-select>
              <mat-option value="5-years-above">5 Years above</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Year of Joining</mat-label>
            <mat-select>
              <mat-option value="2018">2018</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Location</mat-label>
            <mat-select>
              <mat-option value="bangalore">Bangalore</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Team</mat-label>
            <mat-select>
              <mat-option value="ocbc-singapore">OCBC Singapore</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button style="    border: #3ba77b;
          background: white;
          color: #3ba77b;
          width: 47%;">Clear</button>&nbsp;&nbsp;&nbsp;
          <button mat-raised-button style="    border: #3ba77b;
          background: #3ba77b;
          color: white;
          width: 47%;">Submit</button>
        </form>
  
     
      </div>
